.hero-banner,
.new-collection {
  position: relative;
  text-align: center;
}

.hero-banner__content {
  position: absolute;
  transform: translate(-50%, -50%);
  @include media-breakpoint-down(md) {
    left: 50%;
    top: 24%;
  }
  @include media-breakpoint-up(lg) {
    left: 80%;
    top: 50%;
  }
  @media (max-width: 380px) {
    top: 34%;
  }
}

.hero-banner__content--cta {
  @include media-breakpoint-down(md) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.hero-banner__content--text-subheading {
  font-size: $font-nano;
}

.new-collection__content {
  position: absolute;
  transform: translate(-50%, -50%);
  @include media-breakpoint-down(md) {
    left: 50%;
    top: 24%;
  }
  @include media-breakpoint-up(lg) {
    left: 21%;
    top: 54%;
  }
  @media (max-width: 374px) {
    top: 25%;
  }
}

// Font-Size Set for header promo bar
$min_width: 320px;
$max_width: 991px;
$min_font_1: 25px;
$max_font_1: 45px;
$min_font_2: 20px;
$max_font_2: 30px;

.new-collection__content--text-one {
  @include fluid-type($min_width, $max_width, $min_font_1, $max_font_1);
}

.new-collection__content--text-two {
  @include fluid-type($min_width, $max_width, $min_font_2, $max_font_2);
}

.new-collection-promo {
  background: $grey1;
}

.media-links--border {
  border-top: 1.7px solid $black;
  width: 60px;
}
